{
  "extends": ["prettier", "airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": 0,
    "no-console": 0
  },
  "env": {
    "browser": true
  }
}
